# build compiler output

build

# build artifacts

libc
libc.o
out
out.o
tmp
tmp.o

# valgrind artifacts

vgcore.*

# editor / linter artifacts
.cache

# notes / text

.notes.md
src/lib/output
src/neoparser.h
src/output
src/comptime.h
