
# build compiler output

build

# build artifacts

lumina
libc
libc.o
out
out.o
tmp
tmp.o

# valgrind artifacts

vgcore.*

# editor / linter artifacts
.cache
.vscode

# notes / text

.notes.md

# archives

src/lib/output
src/neoparser.h
src/output
src/comptime.h
docs/scratch.org
docs/scripts/
