# .gitignore

# build compiler output

lumina
build

# build artifacts

libc
libc.o
out
out.o
tmp
tmp.o

# valgrind debug artifacts

vgcore.*

# editor / linter artifacts

.cache
.vscode

# notes / text

.notes.md

# archives

src/lib/output
src/neoparser.h
src/output
src/comptime.h

docs/references/
docs/scripts/
